.signUp-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: 30px;
  margin-right: 20px;
}

.signUp-content {
  margin: 0;
  padding: 0 5px;
  font-size: 20px;
  font-weight: 800;
}
.signUp-content:hover {
  cursor: pointer;
  background-color: rgb(182, 141, 221);
}

.signUpContent-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.signUp-username-content {
  margin: 0;
  padding: 0 15px;
  color: brown;
  font-weight: 800;
  font-size: 25px;
}

.signUp-username-content:hover {
  cursor: pointer;
  color: violet;
}

@media only screen and (max-width: 913px) {
  .signUp-content {
    font-size: 15px;
  }

  .signUp-username-content {
    padding: 0 20px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 685px) {
  .signUp-content {
    font-size: 13px;
  }

  .signUp-username-content {
    padding: 0 5px;

    font-size: 15px;
  }
}

@media only screen and (max-width: 530px) {
  .signUp-content {
    font-size: 8px;
  }

  .signUp-username-content {
    padding: 0 2px;
    font-size: 10px;
  }
}
