.signUp-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: 30px;
}

.signUp-content {
  margin: 0;
  padding: 0 5px;
  font-size: 20px;
  font-weight: 800;
}

.signUpContent-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.signUp-username-content {
  margin: 0;
  padding: 0 50px;
  color: brown;
  font-weight: 800;
  font-size: 25px;
}
