.mainCentre-wrapper {
  width: 98%;
  margin-top: 70px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.jobs-wrapper {
  width: 100%;
  height: fit-content;
}
