.addTaskPanel-wrapper {
  margin-top: 20px;
  min-width: 100px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: center;
}

.newTask-input {
  width: 180px;
  height: 40px;
  font-size: 20px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: rgb(154, 220, 240);
}

.addTask-btn {
  width: 46px;
  height: 46px;
  border-radius: 26px;
  font-size: 38px;
  background-color: rgb(94, 224, 94);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
