.taskPanel-wrappeer {
  position: relative;
  border: 3px solid rgb(125, 116, 253);
  background-color: rgb(219, 217, 241);
  border-radius: 15px;
  margin-top: 20px;
  width: 99%;
  min-height: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-sizing: border-box;
  overflow-x: auto;
}

.task-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 90%;
  height: auto;
}
.taskItems-wrapper {
  display: inline-block;
  max-width: 90%;
  height: auto;
  word-wrap: break-word;
  margin: 1px 2px 1px 2px;
}
.taskPanelTitle-content {
  margin: 1px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
}
.taskPanelTitle-content:hover {
  color: rgb(73, 150, 73);
}

.checkTask-icon {
  color: green;
}

.checkTask-icon,
.binTask-icon {
  width: 16px;
  height: 16px;
}

.checkTask-icon:hover {
  color: rgb(255, 0, 0);
}

.binTask-icon {
  color: rgb(0, 0, 0);
}

.binTask-icon:hover {
  color: rgb(255, 0, 0);
}

.arrowTask-Icon {
  width: 22px;
  height: 22px;
  color: rgb(31, 172, 238);
}

.arrowTask-Icon:hover {
  color: rgb(226, 3, 255);
}

@media only screen and (max-width: 1100px) {
  .taskPanelTitle-content {
    font-size: 18px;
  }
  .checkTask-icon,
  .binTask-icon {
    width: 16px;
    height: 16px;
  }
  .arrowTask-Icon {
    width: 22px;
    height: 22px;
    color: rgb(31, 172, 238);
  }
}

@media only screen and (max-width: 650px) {
  .taskPanelTitle-content {
    margin: 1px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
  }
  .checkTask-icon,
  .binTask-icon {
    width: 14px;
    height: 14px;
  }
  .arrowTask-Icon {
    width: 18px;
    height: 18px;
    color: rgb(31, 172, 238);
  }
}

@media only screen and (max-width: 450px) {
  .taskPanelTitle-content {
    margin: 1px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 700;
  }

  .checkTask-icon,
  .binTask-icon {
    width: 12px;
    height: 12px;
  }
  .arrowTask-Icon {
    width: 16px;
    height: 16px;
    color: rgb(31, 172, 238);
  }
}

@media only screen and (max-width: 450px) {
  .taskPanelTitle-content {
    margin: 1px;
    cursor: pointer;
    font-size: 11px;
    font-weight: 700;
  }

  .checkTask-icon,
  .binTask-icon {
    width: 10px;
    height: 10px;
  }
  .arrowTask-Icon {
    width: 14px;
    height: 14px;
    color: rgb(31, 172, 238);
  }
}
