.taskPanel-wrappeer {
  position: relative;
  border: 3px solid rgb(125, 116, 253);
  background-color: rgb(219, 217, 241);
  border-radius: 15px;
  margin-top: 20px;
  width: 98%;
  min-height: 550px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-sizing: border-box;
}

.task-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: fit-content;
}
.taskItems-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: fit-content;
  margin: 1px 2px 1px 2px;
}
.taskPanelTitle-content {
  margin: 1px;
  cursor: pointer;
  font-size: 22px;
  font-weight: 700;
  color: green;
}

.taskTitle-content:hover {
  background-color: rgb(181, 125, 233);
}

.checkTask-icon {
  color: green;
}

.checkTask-icon,
.binTask-icon {
  width: 18px;
  height: 18px;
}

.checkTask-icon:hover {
  color: rgb(255, 0, 0);
}

.binTask-icon {
  color: rgb(0, 0, 0);
}

.binTask-icon:hover {
  color: rgb(255, 0, 0);
}

.arrowTask-Icon {
  width: 25px;
  height: 25px;
  color: rgb(31, 172, 238);
}

.arrowTask-Icon:hover {
  color: rgb(226, 3, 255);
}
