.updateTaskModal-wrapper {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.705);
  min-width: 120px;
  min-height: 120px;
  border: 2px solid rgb(0, 124, 56);
  left: 30%;
}

.updateTaskModal-close-wrapper {
  display: flex;
  justify-content: flex-end;
  color: rgb(94, 255, 0);
}

.updateTaskModal-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.updateModalContent-title {
  color: yellow;
}

.updateModalContent-title:hover {
  background-color: blue;
  cursor: pointer;
}

.updateModalContent {
  color: yellow;
}
.updateModalContent,
.updateModalContent-title {
  margin: 1px;
}
