.userPanel-wrapper {
  position: relative;
  border: 1px solid rgb(4, 0, 255);
  background-color: rgb(162, 162, 231);
  /* background-color: rgb(6, 185, 6); */
  border-radius: 10px;
  min-width: 450px;
  min-height: 700px;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.userPanel-btnCart-wrapper {
  display: flex;
  height: 60px;
  width: 100%;
  flex-direction: row;
  box-sizing: border-box;
}
.userPanel-btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 100%;
  margin-left: 33%;
}

.userPanel-icon-wrapper {
  position: absolute;
  height: 100%;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  right: 20px;
  top: -600px;
  z-index: 100;
}

.username-btn {
  margin-top: 20px;
  min-width: 100px;
  min-height: 50px;
  font-size: 23px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: rgb(14, 13, 13);
  border: 2px solid rgb(255, 0, 221);
  border-radius: 10px;
}

/* ------------------------DELETE--------------------------- */
.userPanel-deleteUser-icon {
  margin-top: 20px;
  margin-left: 10px;
  width: 30px;
  height: 30px;
}
.userPanel-deleteUser-icon:hover {
  width: 40px;
  height: 40px;
  color: red;
  cursor: pointer;
}
.deleteUserConfirmation-wrapper {
  margin-left: 10px;
  margin-top: 20px;
  display: flex;
}
.deleteUserConfirmation-content,
.deleteUserConfirmation-content-YN {
  margin: 0;
  padding: 0 2px;
  font-weight: 700;
}
.deleteUserConfirmation-content-YN:hover {
  color: red;
  cursor: pointer;
}

/* ---------------------------------------------------------- */
.cartIcon {
  width: 40px;
  height: 40px;
  color: rgb(61, 243, 61);
}

.cartIcon:hover {
  width: 50px;
  height: 50px;
  cursor: pointer;
  color: blue;
}
