.userPanel-wrapper {
  border: 1px solid rgb(4, 0, 255);
  background-color: rgb(162, 162, 231);
  /* background-color: rgb(6, 185, 6); */
  border-radius: 10px;
  min-width: 23%;
  max-width: 23%;
  min-height: 300px;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.userPanel-btnCart-wrapper {
  position: relative;
  display: flex;
  height: 60px;
  width: 100%;
  flex-direction: row;
  box-sizing: border-box;
}
.userPanel-btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 100%;
  margin-left: 33%;
}

.username-btn {
  margin-top: 20px;
  min-width: 100px;
  min-height: 50px;
  font-size: 23px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: rgb(14, 13, 13);
  border: 2px solid rgb(255, 0, 221);
  border-radius: 10px;
}

/* ------------------------DELETE--------------------------- */
.userPanel-deleteUser-icon {
  margin-top: 20px;
  margin-left: 10px;
  width: 30px;
  height: 30px;
}
.userPanel-deleteUser-icon:hover {
  width: 40px;
  height: 40px;
  color: red;
  cursor: pointer;
}
.deleteUserConfirmation-wrapper {
  margin-left: 10px;
  margin-top: 20px;
  display: flex;
}
.deleteUserConfirmation-content,
.deleteUserConfirmation-content-YN {
  margin: 0;
  padding: 0 2px;
  font-weight: 700;
}
.deleteUserConfirmation-content-YN:hover {
  color: red;
  cursor: pointer;
}

/* ---------------------------------------------------------- */

@media only screen and (max-width: 1394px) {
  .userPanel-wrapper {
    min-width: 30%;
    max-width: 30%;
  }
}

@media only screen and (max-width: 1142px) {
  .userPanel-wrapper {
    min-width: 40%;
    max-width: 40%;
  }
  .userPanel-icon-wrapper {
    right: 10px;
    top: 0px;
  }
}

@media only screen and (max-width: 695px) {
  .userPanel-wrapper {
    min-width: 85%;
    max-width: 90%;
  }

  .cartIcon {
    width: 30px;
    height: 30px;
    color: rgb(61, 243, 61);
  }
}

@media only screen and (max-width: 420px) {
  .username-btn {
    min-width: 80px;
    min-height: 50px;
    font-size: 18px;
  }
}
