.addToListPanel-wrapper {
  width: fit-content;
  height: 10%t;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.addToListPanel-input {
  width: 130px;
  height: 40px;
  font-size: 25px;
  font-weight: 700;
}

.addToListPanel-btn {
  width: 50px;
  height: 50px;
  font-size: 30px;
  font-weight: 800;
  color: red;
}
