.jobTab-wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}

.jobTabs-Wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.addJob-wrapper {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: flex-end;
}

.newJobInput {
  width: 80px;
}

.addJobBtn {
  font-size: 12px;
  font-weight: 900;
  background-color: black;
  color: white;
}
