.logIn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logIn-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

.logIn-input-wrapper {
  display: flex;
  justify-content: space-between;

  flex-direction: column;
  gap: 5px;
}

.forgotPassword-content {
  font-size: 10px;
}

@media only screen and (max-width: 440px) {
  .logIn-form {
    flex-direction: column;
  }
}
