.StartUpCentre {
  margin-top: 70px;
  width: 96%;
  height: fit-content;
}

.startUpImageContent {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 900;
  background-color: blueviolet;
  color: rgb(240, 216, 243);
}

.startupImageContainer {
  border: 2px solid grey;
  margin-bottom: 10px;
}

.startUpImage {
  width: 100%;
  height: auto;
}
