.navbar-wrapper {
  position: absolute;
  top: 0px;
  width: 94%;
  height: 50px;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 900;
}

.appName-content {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 25px;
  font-weight: 900;
  color: rgb(140, 0, 255);
}

.leftNav {
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.rightNav {
  width: fit-content;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.dateToday-content {
  font-weight: 800;
}

.notificationIcon-wrapper {
  display: flex;
  margin-right: 30px;
}
.notificationIcon {
  width: 30px;
  height: 30px;
  color: green;
}

.notificationIcon-conten-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: end;
}
.notificationIcon-content {
  margin: 0;
  padding: 0;
  font-weight: 500;
}

.notificationIcon:hover {
  cursor: pointer;
  background-color: rgb(61, 255, 61);
  color: black;
  width: fit-content;
}
