.navbar-wrapper {
  position: absolute;
  top: 0px;
  width: 94%;
  height: 30px;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 900;
}

.leftNav {
  width: 80%;
}

.rightNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}

.appName-content:hover,
.notificationIcon:hover {
  cursor: pointer;
  background-color: rgb(61, 255, 61);
  color: black;
  width: fit-content;
}
