.modalSignUp-wrapper {
  position: absolute;
  top: 150%;
  left: 30%;
  width: 40%;
  height: 300px;
}

.modalSignUpWindow {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(172, 124, 218);
}

.modalSignUpClose-wrapper {
  width: 98%;
  height: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: aqua;
}

.modalSignUp-content-wrapper {
  position: relative;
  width: 98%;
  height: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.loginRegister-content-wrapper {
  position: absolute;
  top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginRegister-form-wrapper {
  position: absolute;
  top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.moddal-content {
  font-size: 25px;
  font-weight: 700;
}

.moddal-content:hover {
  cursor: pointer;
  background-color: rgb(169, 240, 169);
}

@media only screen and (max-width: 1200px) {
  .modalSignUp-wrapper {
    position: absolute;
    top: 150%;
    left: 20%;
    width: 60%;
    height: 300px;
  }
}

@media only screen and (max-width: 700px) {
  .modalSignUp-wrapper {
    position: absolute;
    top: 150%;
    left: 10%;
    width: 80%;
    height: 300px;
  }
}

@media only screen and (max-width: 440px) {
  .moddal-content {
    font-size: 20px;
    font-weight: 700;
  }
}
