.jobCentre-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(208, 208, 253);
  border: 2px solid blueviolet;
  border-radius: 10px;
  min-width: 100%;
}

.users-wrapper {
  /* position: relative; */
  margin-top: 30px;
  width: 99%;
  min-height: 300px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.jobCentre-jobTitle-wrapper {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.jobCentre-jobTitle {
  font-size: 25px;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 88);
}

.cartIcon {
  width: 30px;
  height: 30px;
  color: rgb(85, 173, 85);
}

.userPanel-icon-wrapper {
  height: 100%;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.cartIcon:hover {
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: blue;
}

@media only screen and (max-width: 1000px) {
  .jobCentre-jobTitle {
    font-size: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .jobCentre-jobTitle {
    font-size: 17px;
  }
}
