.jobCentre-wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(208, 208, 253);
  border: 2px solid blueviolet;
  border-radius: 10px;
  min-width: 100%;
}

.users-wrapper {
  /* position: relative; */
  margin-top: 30px;
  width: 100%;
  min-height: 300px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.jobCentre-jobTitle-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.jobCentre-jobTitle {
  font-size: 25px;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 88);
}
